@model FreezeDanceTouring.MVC.Models.ArtistModel.ArtistDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Details</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Label)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Label)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AgentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AgentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShowDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShowDate)
        </dd>
    </dl>
</div>
<div>

    @*<ul>
        @foreach (var artist in Model.AgentName)
        {
            <p>@artist. - @artist. </p>
        }
    </ul>*@
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>